scratch
scratch.ipynb
work
build
gwinferno.egg-info
notebooks
data
**/__pycache__
**/.ipynb_checkpoints
**.nc4
**.hdf5
examples/**.h5
**.pkl
pyrightconfig.json
.coverage
.pytest_cache
coverage.xml
pytest.xml
.DS_Store
**.err
**.out
**.png
**.sub
**.dag
**.log
.vscode
new_work
*env.yml
docs/api
docs/_build
docs/api/**
docs/_build/**
docs/_build/_sources
docs/_build/_static
environment.yml
gwinferno_env.txt